body {
  /* font-family: Arial, sans-serif; */
  font-family: "Roboto";
  /* background-color: #f2f2f2; */
  background-image: url("http://hd.wallpaperswide.com/thumbs/bon_appetit-t2.jpg");
  margin: 0;
}

.chat-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
  background-color: #f2f2f2;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-header h2 {
  margin: 0;
  font-size: 24px;
}

.chat-history {
  padding: 10px;
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-history span {
  font-size: 10px;
  margin-block: 10px;
}

.chat-history span.bot-time {
  align-self: flex-start;
}
.chat-history span.user-time {
  align-self: flex-end;
}
.chat-message {
  margin-bottom: 10px;
}

.bot-message {
  align-self: flex-start;
  background-color: #d9f1ff;
  padding: 10px;
  max-width: 50%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: #bcd6d9;
  padding: 10px;
  max-width: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #d9f1ff;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  border: 1px solid powderblue;
}

.chat-input button {
  border: none;
  margin-left: 10px;
  cursor: pointer;
  background-color: transparent;
}

.send-btn {
  fill: #a3a0a0;
  transition: fill 0.3s ease-out;
}
.send-btn:hover {
  fill: powderblue;
}
